@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  overflow-x: hidden;
}

.HomePage {
  text-align: center;
  width: 100%;

  &__banner {
    padding: 0;
    text-align: center;
    margin-top: 160px;
    width: 100%;
    margin-bottom: 5.2rem;
    @media (max-width: 768px) {
      display: none !important;
    }
    img {
      width: 100%;
    }
  }
  .full-banner-mobile {
    display: none;
    @media (max-width: 768px) {
      display: block !important;
      width: 100%;
      min-width: 372px;
      margin-top: 100px;
      margin-bottom: 40px;
      img {
        width: 100%;
      }
    }
  }

  .tipbar {
    display: none;
    justify-content: space-evenly;
    margin-bottom: 5.2rem;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    img{
      width: 200px;
    }
    &__ {
      margin-left: 40px;
    }
  }

  .products {
    margin: 10px 176px;
    img {
      max-width: 150px;
    }

    h1 {
      margin-bottom: 81px;
      text-align: left;
      font-family: Barlow;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      width: 395px;
      text-transform: uppercase;

    }

    &__details {
      font-family: Barlow;
      font-weight: bold;
      font-size: 32px;
      color: hsl(202deg, 100%, 61%);
      line-height: 40px;
    }

    &__productsList {
      display: flex;
      justify-content: space-evenly;
    }

    &__product-one {
      height: auto;
      width: 427px;
      text-align: justify;
    }

    &__product-two {
      height: 381px;
      width: 241px;
      left: 0px;
      top: 0px;
      border-radius: 4px;
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
    }

    &__product-three {
      height: 381px;
      width: 241px;
      left: 0px;
      top: 0px;
      border-radius: 4px;
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
    }

    &__productName {
      font-family: Barlow;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #000000;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;

    }

    &__productDescription {
      font-family: Barlow;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #EE0E7D;
      margin-bottom: 20px;
      text-align: start;
    }

    &__productFeature {
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #5B5B5B;
      margin-bottom: 2px;
      text-align: start;


    }

    &__productButton {
      text-align: center;
      margin-top: 17px;
      padding: 10px 0px 10px 0px;
      background: yellow;
      border-radius: 6px;

      color: #000000;
      font-family: Barlow;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;

    }
  }

  .quemSomos {
    width: 100%;
    display: flex;
    margin: 10px 120px;

    &__textContent {
      width: 50%;
      text-align: -webkit-center;
    }

    &__title {
      width: 185px;
      height: 80px;
      font-family: Barlow;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 50px;
    }

    &__text {
      position: static;
      width: 241px;
      height: 292px;
      top: 104px;
      font-family: Barlow;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000;

    }

    &__imagem {
      width: 50%;
      margin: 0px 200px;
    }

  }

  .newsletter {
    &__content {
      padding: 0;
      text-align: center;
      width: 100%;
      height: 480px;
      background: #000000;
      }
      &__text {
        position: relative;
        width: 676px;
        height: 80px;
        top: 180px;
        display: table;
        margin: 0 auto;
    
        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
      }
  
      &__ {
        position: relative;
        width: 29px;
        height: 24px;
        right: 25px;
  
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 24px;
        color: yellow;
      }

      &__email {
        position: relative;
        width: 320px;
        height: 60px;
        display: table;
        margin: 0 auto;
        top: 240px;
        background: #000000;
        border-bottom: 1px solid yellow;

        ::placeholder {
          font-family: Barlow;
          color: #ffffff;
          font-size: 16px;
          font-weight: 500;
          line-height: 60px;
          border: none !important;
          outline: none !important;
          background-color: black;
      
        }

        input {
          border: 0;
          outline: none;
          background: black;
          color: yellow;
        }
        
      }

      &__button {
        background-color: #000000;
        font-family: Barlow;
        text-transform: uppercase;
        font-style: normal;
        color: yellow;
        font-weight: bold;
        font-size: 16px;
        line-height: 40px;
        width: 89px;
        height: 40px;
        border: 0;
        cursor: pointer;
      }
      
  }

} 