@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  overflow-x: hidden;
}

.HomePage {
  text-align: center;
  width: 100%;

  // &__HomeHeader {
  //   position: fixed;
  //   min-height: 80px;
  //   text-align: center;
  //   top: 0;
  //   width: 100%;
  //   left: 0px;
  //   height: 80px;
  //   max-height: 20px;
  //   background-color: #f3f3f3;
  //   display: flex;
  //   justify-content: space-between;
  //   color: black;
  //     &__logoHeader {
  //       max-width: 30%;
  //       cursor: pointer;
  //       img {
  //         margin: 20px;
  //       }

  //     }
  //     &__info-header {
  //       display: flex;
  //       width: 30%;
  //       align-items: center;
  //       justify-content: space-around;
  //       cursor: pointer;
  //     }

  //     &__search-header {
  //       display: flex;
  //       width: 30%;
  //       align-items: center;
  //       justify-content: space-around;
  //         &__search-input {
  //           background: #c6ffcd;
  //           border: 1px solid #F2F2F2;
  //           box-sizing: border-box;
  //           border-radius: 24px;
  //           width: 240px;
  //           height: 40px;

  //         }
  //     }

  //     &__login-cart {
  //       display: flex;
  //       width: 30%;
  //       align-items: center;
  //       justify-content: space-evenly;
  //       cursor: pointer;
  //         img {
  //             width: 22px;
  //             height: 15px;
  //         }
  //         &__login {
  //           padding: 35px;
  //         }
  //     }
  // }

  &__banner {
    padding: 0;
    text-align: center;
    margin-top: 90px;
    width: 100%;
    margin-bottom: 20px;

    img {
      width: 100%;
    }

  }

  .tipbar {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5.2rem;
    &__ {
      margin-left: 40px;
    }
  }

  .soluctions {
    margin: 10px 176px;

    h1 {
      margin-bottom: 81px;
      text-align: left;
      font-family: Barlow;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      width: 395px;
      text-transform: uppercase;

    }

    &__details {
      font-family: Barlow;
      font-weight: bold;
      font-size: 32px;
      color: #03FFA5;
      line-height: 40px;
    }

    &__productsList {
      display: flex;
      justify-content: space-evenly;
    }

    &__product-one {
      height: 381px;
      width: 241px;
      left: 0px;
      top: 0px;
      border-radius: 4px;
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
    }

    &__product-two {
      height: 381px;
      width: 241px;
      left: 0px;
      top: 0px;
      border-radius: 4px;
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
    }

    &__product-three {
      height: 381px;
      width: 241px;
      left: 0px;
      top: 0px;
      border-radius: 4px;
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
    }

    &__product-four {
      height: 381px;
      width: 241px;
      left: 0px;
      top: 0px;
      border-radius: 4px;
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
    }

    &__productTitle {
      font-family: Barlow;
      font-size: 32px;
      font-weight: 500;
      line-height: 38px;
      text-transform: uppercase;
      margin-bottom: 60px;
      text-align: start;
      margin-left: 15px;
    }

    &__productName {
      font-family: Barlow;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #000000;
      margin-bottom: 20px;
      text-align: start;

    }

    &__productDescription {
      font-family: Barlow;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #EE0E7D;
      margin-bottom: 20px;
      text-align: start;
    }

    &__productFeature {
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #5B5B5B;
      margin-bottom: 2px;
      text-align: start;


    }

    &__productButton {
      text-align: center;
      margin-top: 17px;
      padding: 10px 0px 10px 0px;
      background: #03FFA5;
      border-radius: 6px;

      color: #000000;
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;

    }
  }

  .quemSomos {
    width: 100%;
    display: flex;
    margin: 10px 120px;

    &__textContent {
      width: 50%;
    }

    &__title {
      width: 185px;
      height: 80px;
      font-family: Barlow;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 24px;
    }

    &__text {
      position: static;
      width: 241px;
      height: 292px;
      top: 104px;
      font-family: Barlow;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000;

    }

    &__imagem {
      width: 50%;
      margin: 0px 200px;
    }

  }

  .contactContent {
    padding: 0;
    text-align: center;
    margin-top: 90px;
    width: 100%;
    height: 480px;
    background: #EE0E7D;

   &__text {
    color: #FFFFFF;
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center !important;
    text-transform: uppercase;
    position: relative;
    width: 655px;
    height: 120px;
    left: 360px;
    top: 136px;
   }

   &__contato {
    position: relative;
    width: 122px;
    height: 24px;
    left: 605px;
    top: 180px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
   }

   &__email {
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
    right: 100px;
    top: 15px;
   }

  }

  .newsletterContent {
    padding: 0;
    text-align: center;
    width: 100%;

    img {
      width: 100%;
    }

  }

  // .footerContent {
  //   padding: 0;
  //   text-align: center;
  //   width: 100%;
  //     img{
  //       width: 100%;
  //     }
  // }
} 