@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  overflow-x: hidden;
}

.HomePage {
  text-align: center;
  width: 100%;

  &__banner {
    padding: 0;
    text-align: center;
    margin-top: 160px;
    width: 100%;
    margin-bottom: 5.2rem;
    @media (max-width: 768px) {
      display: none !important;
    }
    img {
      width: 100%;
    }
  }
  .full-banner-mobile {
    display: none;
    @media (max-width: 768px) {
      display: block !important;
      width: 100%;
      min-width: 372px;
      margin-top: 100px;
      margin-bottom: 40px;
      img {
        width: 100%;
      }
    }
  }

  .tipbar {
    display: none;
    justify-content: space-evenly;
    margin-bottom: 5.2rem;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    img{
      width: 200px;
    }
    &__ {
      margin-left: 40px;
    }
  }

  .quemSomos {
    max-width: 1990px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
    img{
      width: 550px;
      height: auto;
      margin-bottom: 57px;
    }
    img:hover {
      cursor: pointer;
    }

    h1 {
      font-family: Barlow;
      font-weight: bold;
      display: flex;
      margin: 0px 0px 0 51px;
      font-size: 32px;
      line-height: 150px;
      margin-bottom: 0;
      max-width: 430px;
      width: 100%;
      text-transform: uppercase;

    }

    &__details {
      line-height: 0px;
      img{
        width: 150px;

      }
    }

    &__List {
      margin: 0 auto;
      width: 1641px;
      display: flex;
      justify-content: space-around;
    }

    &__draKelly {
      height: auto;
      width: 536px;
      position: relative;
      left: 0px;
      top: 0px;
    }

    &__draTwo {
      height: auto;
      width: 536px;
      position: relative;
      left: 0px;
      top: 0px;
    }

    &__Name {
      font-family: Barlow;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #000000;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;

    }

    &__description {
      text-align: center;
      margin-top: 17px;
      padding: 10px 0px 10px 0px;
      border-radius: 6px;
      color: hsl(0deg 0% 0%);
      font-family: Barlow;
      font-style: normal;
      font-size: 16px;
      text-align: justify;
      line-height: 24px;

    }
  }

  .nossosServicos {
    max-width: 1990px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 349px;
    img{
      width: 150px;
      height: auto;
      margin-bottom: 57px;
      margin-left: 4px;

    }
    img:hover {
      cursor: pointer;
    }

    h1 {
      font-family: Barlow;
      font-weight: bold;
      display: flex;
      margin: 0px 0px 0px 50px;
      font-size: 31px;
      line-height: 151px;
      margin-bottom: 0;
      max-width: 490px;
      width: 100%;
      text-transform: uppercase;

    }

    &__details {
      display: flex;
      img{
        height: auto;
        margin-bottom: 57px;
        margin-left: 8px;
        padding: 0px 30px 0 10px;
      }
    }

    &__List {
      margin: 0 auto;
      width: 1641px;
      display: flex;
      justify-content: space-around;
    }

    &__consulta {
      height: auto;
      width: 336px;
      position: relative;
      left: 0px;
      top: 0px;
    }

    &__vacina {
      height: auto;
      width: 336px;
      position: relative;
      left: 0px;
      top: 0px;
    }
    
    &__cirurgia {
      height: auto;
      width: 336px;
      position: relative;
      left: 0px;
      top: 0px;
    }

    &__Name {
      font-family: Barlow;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #000000;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;

    }

    &__description {
      text-align: center;
      margin-top: 17px;
      padding: 10px 0px 10px 0px;
      border-radius: 6px;
      color: hsl(0deg 0% 0%);
      font-family: Barlow;
      font-style: normal;
      font-size: 16px;
      text-align: justify;
      line-height: 24px;

    }
  }

  .equipeVeterinaria {
    max-width: 1990px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 349px;
    img{
      width: 150px;
      height: auto;
      margin-bottom: 57px;
      margin-left: 4px;

    }
    img:hover {
      cursor: pointer;
    }

    h1 {
      font-family: Barlow;
      font-weight: bold;
      display: flex;
      margin: 0px 0px 0px 50px;
      font-size: 31px;
      line-height: 151px;
      margin-bottom: 0;
      max-width: 490px;
      width: 100%;
      text-transform: uppercase;

    }

    &__details {
      display: flex;
      img{
        height: auto;
        margin-bottom: 57px;
        margin-left: 8px;
        padding: 0px 30px 0 10px;
      }
    }

    &__List {
      margin: 0 auto;
      width: 1641px;
      display: flex;
      justify-content: space-around;
    }

    &__consulta {
      height: auto;
      width: 336px;
      position: relative;
      left: 0px;
      top: 0px;
    }

    &__vacina {
      height: auto;
      width: 336px;
      position: relative;
      left: 0px;
      top: 0px;
    }
    
    &__cirurgia {
      height: auto;
      width: 336px;
      position: relative;
      left: 0px;
      top: 0px;
    }

    &__Name {
      font-family: Barlow;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #000000;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;

    }

    &__description {
      text-align: center;
      margin-top: 17px;
      padding: 10px 0px 10px 0px;
      border-radius: 6px;
      color: hsl(0deg 0% 0%);
      font-family: Barlow;
      font-style: normal;
      font-size: 16px;
      text-align: justify;
      line-height: 24px;

    }
  }

  .newsletter {
    &__content {
      display: none;
      padding: 0;
      text-align: center;
      width: 100%;
      height: 480px;
      background: #000000;
      }
      &__text {
        position: relative;
        width: 676px;
        height: 80px;
        top: 180px;
        display: table;
        margin: 0 auto;
    
        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
      }
  
      &__ {
        position: relative;
        width: 29px;
        height: 24px;
        right: 25px;
  
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 24px;
        color: yellow;
      }

      &__email {
        position: relative;
        width: 320px;
        height: 60px;
        display: table;
        margin: 0 auto;
        top: 240px;
        background: #000000;
        border-bottom: 1px solid yellow;

        ::placeholder {
          font-family: Barlow;
          color: #ffffff;
          font-size: 16px;
          font-weight: 500;
          line-height: 60px;
          border: none !important;
          outline: none !important;
          background-color: black;
      
        }

        input {
          border: 0;
          outline: none;
          background: black;
          color: yellow;
        }
        
      }

      &__button {
        background-color: #000000;
        font-family: Barlow;
        text-transform: uppercase;
        font-style: normal;
        color: yellow;
        font-weight: bold;
        font-size: 16px;
        line-height: 40px;
        width: 89px;
        height: 40px;
        border: 0;
        cursor: pointer;
      }
      
  }

} 