.header {
  @media (min-width:769px){
    #menuToggle {
      display: none;
    }
    
  }
  position: fixed;
  min-height: auto;
  text-align: center;
  top: 0;
  width: 100%;
  left: 0px;

  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  color: black;
  z-index: 1;
  @media (max-width: 768px) {
    max-width: 511px;
  }
    
      &__logo {
        margin: 5px 50px;
        cursor: pointer;
        img {
          width: 140px;
        }
      }
      &__informations {
        display: flex;
        width: 100%;
        font-size: 15px;
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;

        span {
          cursor: pointer;
        }
      }

      &__search-container {
        display: none;
        width: 30%;
        align-items: center;
        justify-content: space-around;
          &-input {
            background: #c6ffcd;
            border: 1px solid #F2F2F2;
            box-sizing: border-box;
            border-radius: 24px;
            width: 240px;
            height: 40px;

          }
      }

      &__login-cart {
        display: none;
        width: 30%;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
          img {
              height: 15px;
          }
        }
        &__login {
          padding: 35px;
        }
}
@media (max-width: 768px) {
  .header__informations{
    display: none !important;
  }
  .header__login-cart {
    display: none !important;
  }
  .search {
    display: none !important;
  }
  .header__search {
    display: none !important;
  }
  .header__logo {
    max-width: 300px;
    margin: 0 auto;
  }
  .header__login {
    display: none !important;
  }
#menuToggle
{
  display: block;
  position: fixed;
  top: 42px;
  left: 15px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #000000;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.products {
  h1 {
    width: 317px;
  }
  margin: 0 !important;
  &__productsList {
    display: block !important;
    margin: 0 40px;
  }
}

// .quemSomos{
//   display: block !important;
//   margin: 0 53px !important;
//   margin-bottom: 90px !important;
//   &__text {
//     height: 180px !important;
//   }

//   &__title {
//     margin-bottom: 60px !important;
//   }
//   &__imagem {
//     width: 50%;
//     margin: 0 !important;
//   }
//   img {
//     width: 200px;
//   }
// }
.tipbar {
  display: none !important;
}
.HomePage__banner {
  margin-top: 100px !important;
  margin-bottom: 2.2rem !important;
}

.newsletter__text{
  width: 300px !important;
  font-size: 22px !important;
  margin: 0px 20px!important;
}
.newsletter__content {
  min-width: 342px;
}
.footerContent {
  min-width: 342px;
}

}